node_modules
.turbo
*.log
build
certs
*.local
.cache

.env
.env.*
!.env.e2e
!.env.test
.eslintcache

.DS_Store

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Tests
coverage/

# Coverage
sonar/
nyc_*

# Prune
out/

# Jetbrains
.idea
.vercel

# Storybook
storybook-static/

# Icons
libs/icons/src/components/*

# Generated UI Documentation
libs/ui/src/documentation/*
